body{
    text-align: center;
}
#container {
    font-family: 'f1Italic';
    font-size: 15px;
    background-color: rgb(67, 67, 88);
    width: fit-content;
    height: 400px;
    padding: 20px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
    overflow-y: auto;
    overflow-x: auto;
}
#container:hover {
    transform: scale(1.02); /* Escala el div al 120% del tamaño original */
}
.message {
    border-bottom: 1px solid rgb(158, 158, 158);
}
#allIn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button {
    display: inline-block;
    background-color: rgb(3, 186, 0);
    width: 130px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 15px;
}
#balance {
    position: fixed;
    right: 10px;
}
#backMenu {
    left: 10px;
}
.button:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    transform: scale(1.07); /* Escala el div al 120% del tamaño original */
}
#resetAll{
    font-size: 12px;
    position: fixed;
    left: 45%;
}