.operations {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid grey;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: auto;
    height: 400px;
}
#operation {
    width: fit-content;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}
#information{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
}
.textInfo{
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(243, 243, 243, 0.5); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); /* Sombra con color semitransparente */
    color: black;
}
.textInfo p {
    margin-left: 10px;
    margin-right: 10px;
}
.button {
    text-align: center;
    display: inline-block;
    background-color: rgb(3, 186, 0);
    width: 130px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}
.button:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    transform: scale(1.07); /* Escala el div al 120% del tamaño original */
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
#seeOld{
    width: fit-content;
}
#buttonSave{
    font-size: 12px;
    padding: 15px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100px;
    border-radius: 20px;
    right: 100%;
}
#inputButton{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#titleSave{
    width: fit-content;
    margin-bottom: 15px;
}
input{
    width: fit-content;
}
#resume{
    text-align: center;
}
