<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav-bar></app-nav-bar>
    <h1 id="fuelAd">LITROS ADQUIRIDOS</h1>
    <p id="fuelCant"></p>
    <p id="totalPrice"></p>
    <div id="operations">
        <div id="operationAux" *ngFor="let operationAux of fuelXprice">
            <p>Cantidad de litros: {{formatNumber(operationAux.fuelAmount)}}</p>
            <p>Precio por litro: {{formatNumber(operationAux.fuelPrice)}}</p>
            <p>Precio total de litros : {{formatNumber(operationAux.totalPrice)}}</p>
        </div>
    </div>
    <div id="buttons">
        <div id="backMenu" class="button" (click)="changeWindow('')">IR AL MENU</div>
        <div id="resetAll" class="button" (click)="resetTotalFuel()">RESTABLECER LITROS</div>
        <div id="balance" class="button" (click)="changeWindow('balance')">BALANCE</div>
    </div>
</body>
</html>