@font-face {
    font-family: 'f1Black';
    src: url('./assets/Formula1-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'f1Bold';
    src: url('./assets/Formula1-Bold-4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'f1BoldWeb';
    src: url('./assets/Formula1-Bold_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'f1Italic';
    src: url('./assets/Formula1-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'f1Regular';
    src: url('./assets/Formula1-Regular-1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'f1Wide';
    src: url('./assets/Formula1-Wide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
body{
    background-color: rgb(41, 41, 49);
    color: white;
    font-family: 'f1Bold', sans-serif;
    background-image: url('./assets/img4.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 90%;
  height: 30px;
  border-radius: 0px;
  border: 0;
  background: none;
  color: white;
  font-size: 15px;
  border-bottom: 2px solid white;
  outline: none;
}
#priceInp, #costPriceInp, #moneyXliterInp, #FreightpriceInp{
  margin-top: 20px;
}
label{
  margin-left: 10px;
  font-family: 'f1Italic';
}
::placeholder{
  font-size: 16px;
  color: white;
  font-family: "f1Italic";
}
/* Estilo para ocultar las flechas del input de tipo number */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Estándar */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Safari y Chrome */
  margin: 0; /* Margen adicional */
}