<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" id="navBar">
        <div id="historial" (click)="changeWindow('movements')">Historial de movimientos</div>
        <div id="balance" (click)="changeWindow('balance')">Balance</div>
        <div id="operations" (click)="changeWindow('operations')">Operaciones</div>
        <div id="payment" (click)="changeWindow('payment')">Pagar deudas</div>
        <div id="AllFuel" (click)="changeWindow('fuelRegister')">Registro de litros</div> 
    </nav>    
</body>
</html>