.button {
    text-align: center;
    display: inline-block;
    background-color: rgb(3, 186, 0);
    width: 130px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 15px;
}
#balance {
    position: fixed;
    right: 10px;
}
#backMenu {
    left: 10px;
}
.button:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    transform: scale(1.07); /* Escala el div al 120% del tamaño original */
}
#resetAll{
    font-size: 12px;
    position: fixed;
    left: 45%;
}
#enter{
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(0, 195, 0);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: 'f1Regular';
    border: 0;
    border-radius: 5px;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}
#enter:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    transform: scale(1.07); /* Escala el div al 120% del tamaño original */
}